<%- include('../includes/header.ejs') %>
<%- include('../includes/menu.ejs') %>
  <!-- =============================================== -->


      <!-- =============================================== -->

  <!-- Content Wrapper. Contains page content -->
  <div class="right_col" role="main">
    <div class="">
      <div class="page-title">
        <div class="title_left">
          <h3>PACE <small>Administration Settings</small></h3>
        </div>
      </div>
      <% if(errorMessage){ %>
        <div class="alert alert-success"> <%= errorMessage %> </div>
        <% } %>
      <div class="clearfix"></div>
      
      <!-- ================== Category =========================== -->
      <div class="row" >
       
        <div class="col-md-12 col-sm-12 col-lg-12 ">
          <div class="x_panel">
            <div class="x_title">
              <h2>LIST OF <%= institute_session.Institute_name %> MEDECINE CATEGORY</h2>
              
              <div class="clearfix"></div>
              <BR></BR>
              <BR></BR>
              <BR></BR>
              <BR></BR>
              <BR></BR>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="table-responsive">
                    <table id="datatable" class="table table-striped jambo_table bulk_action">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>MEDECINE NAME</th>
                            <th>BATCH</th>
                            <th>QUANTITY</th>
                            <th>PRICE</th>
                            <th>ACTION</th>
                        </tr>
                        </thead>
                        <tbody>
                        <% 
                            let nn = 1;
                            for(let row of backet_data) {
                            
                        %>
                        <tr>
                            <td><%= nn %></td>
                            <td><%= row.product_name %></td>
                            <td><%= row.batch %></td>
                            <td><%= row.quantity %></td>
                            <td><%= row.price %></td>
                            <td>
                                action
                            </td>
                        </tr>
                        <% nn++ }  %>
                        </tbody>
                    </table>
                </div>
              
              <BR></BR>
              <BR></BR>
              <BR></BR>

            </div>
          </div>
        </div>
      </div>
      <!-- =================== Role ============================ -->
        <!--  -->
      
      <!-- =============================================== -->

      <!-- =============================================== -->
      
    </div>
  </div>
  <!-- Small modal -->
  
  
    <%- include('../includes/footer.ejs') %>
