<%- include('../includes/header.ejs') %>
<%- include('../includes/menu.ejs') %>
  <!-- =============================================== -->


      <!-- =============================================== -->

  <!-- Content Wrapper. Contains page content -->
  <div class="right_col" role="main">
    <div class="">
      <div class="page-title">
        <div class="title_left">
          <h3>PACE <small>Administration Settings</small></h3>
        </div>
      </div>
      <% if(errorMessage){ %>
        <div class="alert alert-success"> <%= errorMessage %> </div>
        <% } %>
      <div class="clearfix"></div>
      
      <!-- ================== Category =========================== -->
      <div class="row" >
       
        <div class="col-md-12 col-sm-12 col-lg-12 ">
          <div class="x_panel">
            <div class="x_title">
              <h2>LIST OF <%= institute_session.Institute_name %> MEDECINE</h2>
              <div class="pull-right">
                  <button type="button" id="butts" class="btn btn-secondary btn-sm" data-toggle="modal" data-target=".bs-example_role">
                      <i class="fa fa-user"></i> New product
                  </button>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="table-responsive">
                    <table id="datatable" class="table table-striped jambo_table bulk_action">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>MEDECINE NAME</th>
                            <th>MEDECINE CATEGORY</th>
                            <th>ACTION</th>
                        </tr>
                        </thead>
                        <tbody>
                        <% 
                            let nn = 1;
                            for(let row of medical_data) {
                            if(row.status == '0') { 
                                status = "OFF"; 
                                user_status_view = "fa-toggle-off "; 
                                st = "color: red;";
                                user_ = 1; 
                            }else { 
                                status = "ON"; 
                                user_status_view = "fa-toggle-on";
                                st = "color: green;";
                                user_ = 0; 
                            }
                        %>
                        <tr>
                            <td><%= nn %></td>
                            <td><%= row.product_name %></td>
                            <td><%= row.category_name %></td>
                            <td>
                                <a href="../router/action_page.php?user_status&status=<%= user_ %>&&user_ID=<%= row.product_ID  %>" class="btn-sm btn btn-info">
                                    <i class="fa fa-edit"> </i> Edit 
                                </a>
                                <form action="/PharmaPOST" method="post">
                                  <input type="hidden" name="action" id="action" value="remove_medecine_product_info">
                                  <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                                  <input type="submit" class="btn btn-danger form-control"  value="delete" >
                                </form>
                                <a href="user_access?id=<%= row.product_ID  %>" class="btn-sm btn btn-danger">
                                    <i class="fa fa-trash"></i> Delete
                                </a>
                            </td>
                        </tr>
                        <% nn++ }  %>
                        </tbody>
                    </table>
                </div>
            </div>
          </div>
        </div>
      </div>
      <!-- =================== Role ============================ -->
        <!--  -->
      
      <!-- =============================================== -->

      <!-- =============================================== -->
      
    </div>
  </div>
  <!-- Small modal -->
   
  
  <!-- =================== Role ============================ -->
  <div class="modal fade bs-example_role" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-md">
          <div class="modal-content">
              <div class="modal-header" id="butts">
                  <h4 class="modal-title " id="myModalLabel2">New System Medecine</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
                  </button>
              </div>
              <div class="modal-body">
                  <form action="/PharmaPOST" method="post" id="form">
                  
                      <div class="mb-3">
                        <label for="systemRole" class="form-label">Medecine Name</label>
                        <input type="text" id="medecine_name" name="medecine_name" class="form-control" placeholder="Medecine Name" required="required" autofocus="autofocus">
                      </div>
                      
                        <div class="mb-3">
                          <label for="systemRole" class="form-label">Medecine Category</label>
                          <select id="medecine_category" name="medecine_category" class="form-control">
                            <option selected="selected" disabled="disabled">CHOOSE CATEGORY</option>
                            <% for(let row of category_data){ %>
                              <option value="<%= row.__kp_mede_category %>"><%= row.category_name %></option>
                            <% } %>
                          </select>
                        </div>
                      
                      <div class="text-center">
                        <input type="hidden" name="action" id="action" value="save_medecine_product_info">
                        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                        <input type="submit" class="btn btn-dark form-control"  value="save" >
                      </div>
                      <hr>
                  </form>
              </div>
          </div>
      </div>
  </div>
  <!-- /modals -->
  
    <%- include('../includes/footer.ejs') %>
