<%- include('../includes/header.ejs') %>
<%- include('../includes/menu.ejs') %>
  <!-- =============================================== -->


      <!-- =============================================== -->

  <!-- Content Wrapper. Contains page content -->
  <div class="right_col" role="main">
    <div class="">
      <div class="page-title">
        <div class="title_left">
          <h3>PACE <small>Administration Settings</small></h3>
        </div>
      </div>
      <% if(errorMessage){ %>
        <div class="alert alert-success"> <%= errorMessage %> </div>
        <% } %>
      <div class="clearfix"></div>
      
      <!-- ================== Category =========================== -->
      <div class="row" >
       
        <div class="col-md-12 col-sm-12 col-lg-12 ">
          <div class="x_panel">
            <div class="x_title">
              <h2>LIST OF <%= institute_session.Institute_name %> MEDECINE</h2>
              <div class="pull-right">
                  <button type="button" id="butts" class="btn btn-secondary btn-sm" data-toggle="modal" data-target=".bs-example_role">
                      <i class="fa fa-user"></i> New purchase
                  </button>
              </div>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="table-responsive">
                    <table id="datatable" class="table table-striped jambo_table bulk_action">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>MEDECINE NAME</th>
                            <th>BATCH</th>
                            <th>PURCHASE PRICE</th>
                            <th>SELLING PRICE</th>
                            <th>QUANTITY</th>
                            <th>EXPIRED DATE</th>
                            <th>ACTION</th>
                        </tr>
                        </thead>
                        <tbody>
                          <% 
                            if(purchase_data.length > 0){
                              let nn = 1;
                              for(let row of purchase_data) {
                              if(row.status == '0') { 
                                  status = "OFF"; 
                                  user_status_view = "fa-toggle-off "; 
                                  st = "color: red;";
                                  user_ = 1; 
                              }else { 
                                  status = "ON"; 
                                  user_status_view = "fa-toggle-on";
                                  st = "color: green;";
                                  user_ = 0; 
                              }
                          %>
                          <tr>
                            <td><%= nn %></td>
                            <td><%= row.product_name %></td>
                            <td><%= row.batch %></td>
                            <td><%= row.purchase_price %></td>
                            <td><%= row.selling_price %></td>
                            <td><%= row.quantity %></td>
                            <td><%= row.expired_date %></td>
                            <td></td>
                          </tr>
                          <% nn++ } 
                          } else{
                          %>
                   <tr>
                    <td colspan="5"> No data</td>
                   </tr>
                    <% } %>
                        </tbody>
                        
                    </table>
                </div>
            </div>
          </div>
        </div>
      </div>
      <!-- =================== Role ============================ -->
        <!--  -->
      
      <!-- =============================================== -->

      <!-- =============================================== -->
      
    </div>
  </div>
  <!-- Small modal -->
   
  
  <!-- =================== Role ============================ -->
  <div class="modal fade bs-example_role" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog modal-md">
          <div class="modal-content">
              <div class="modal-header" id="butts">
                  <h4 class="modal-title " id="myModalLabel2">New System Role</h4>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span>
                  </button>
              </div>
              <div class="modal-body">
                <form action="/PharmaPOST" method="post" id="form">
                  <div class="mb-3">
                    <label for="systemRole" class="form-label">Medecine Name</label>
                    <select id="medecine_name" name="medecine_name" class="form-control">
                      <option selected="selected" disabled="disabled">CHOOSE CATEGORY</option>
                      <% for(let row of product_data){ %>
                        <option value="<%= row.__kp_product %>"><%= row.product_name %></option>
                      <% } %>
                    </select>
                  </div>
                  <div class="mb-3">
                    <label for="systemRole" class="form-label">Batch Number</label>
                    <input type="text" id="batch" name="batch" class="form-control" placeholder="Batch" required="required" autofocus="autofocus">
                  </div>
                  <div class="mb-3">
                    <label for="systemRole" class="form-label">Purchase Price</label>
                    <input type="text" id="purchase_price" name="purchase_price" class="form-control" placeholder="Purchase Price" required="required" autofocus="autofocus">
                  </div>
                  <div class="mb-3">
                    <label for="systemRole" class="form-label">Selling Price</label>
                    <input type="text" id="selling_price" name="selling_price" class="form-control" placeholder="Selling Price" required="required" autofocus="autofocus">
                  </div>
                  <div class="mb-3">
                    <label for="systemRole" class="form-label">Quantity</label>
                    <input type="text" id="quantity" name="quantity" class="form-control" placeholder="Quantity" required="required" autofocus="autofocus">
                  </div>
                  <div class="mb-3">
                    <label for="systemRole" class="form-label">Expiration Date</label>
                    <input type="date" id="expired_date" name="expired_date" class="form-control" required="required" autofocus="autofocus">
                  </div>
                  <div class="text-center">
                    <input type="hidden" name="action" id="action" value="save_purchased_info">
                    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                    <input type="submit" class="btn btn-dark form-control"  value="save" >
                  </div>
                  <hr>
                </form>
              </div>
          </div>
      </div>
  </div>
  <!-- /modals -->
  
    <%- include('../includes/footer.ejs') %>
